.sideCanvas{
    width: 15rem;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(31, 186, 162, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.section-line {
    width: 80px;
    height: 3px;
    background-color: #f18425;
    margin-bottom: 0.8rem;
}

.text-teal {
    color:#1fbaa2;
}